{% extends 'htmls/layout.html' %}

{% block content %}

<main>
    {% load static %}
    <div class="container ">
        <center>


            <div class="card " style="width: 25rem; border: none;">
                <div class="container borde2 ">
                    <a href="">
                        <center>
                            <img src="{% static 'img/img_1.jpg' %}" class="card-img-top cardObras" alt="Herramientas 1">
                        </center>
                    </a>
                </div>
                <div class="card-body ">
                    <h5 class="card-title">Juego de dados de 7 piezas</h5>
                    <p class="card-text">$20.000</p>
                    <p class="card-text">Descripción:

                        Set de 7 Piezas ESTRELLA 6 PUNTAS
                        Toma de 1/2″
                        <br>
                        Material de construcción de cromo-vanadio
                        Excelente calidad y durabilidad
                        <br>
                        Marca Force
                        <br>
                        Modelo : 4071
                        <br>
                        Procedencia : Taiwán
                        <br>
                        El kit incluye:

                        7 Dados Estrellas Nº E10 – E12 -E14 – E16 -E18 – E20 -E24
                        Toma de 1/2″<br>
                        Dimensiones: 280 x 90 x 50 mm.<br>
                        Peso : 1 Kilos
                    </p>
                </div>
            </div>

        </center>
    </div>
</main>

{% endblock %}