{% extends "admin/layout_Admin.html" %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% load static %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Bienvenido al Sistema</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <div>
        <center>
            <caption>
                <h3>Registro de Productos en Base de Datos de la tienda </h3>
            </caption>
        </center>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-5">
                {{form.as_table}}
            </div>
            <input type="submit" class="btn btn-danger" value="Guardar" />
            <a href="{% url 'Admin' %}" class="btn btn-primary">Volver</a>
        </form>
        
        {% if mensaje != "" %}
            <div class="alert alert-success">
                {{mensaje}}
            </div>
        {% endif %}
        
    </div>
  </main>

{% endblock %} 